*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

button {
    display: block;
    margin: 20px auto;
    background-color: crimson;
    color: white;
    border: 0;
    padding: 6px 10px;
}

.contenidor-popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 10% auto;
    padding: 20px ;
    background: #fff;
    position: relative;
}

.popup a {
    background: crimson;
    color: #fff;
    padding: 6px 10px;
}
.popup p {
    padding-bottom: 30px;
}

.tanca-popup {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --correcto_color: #2ecc71;
  --error_color: #e74c3c;
  --btn: #3498db;
}

* { 

  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans';
}

.contenedor {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3) ;
  width: 400px;
}

h2{
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label{
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.correcto input{
  border-color: var(--correcto_color);
}

.form-control.error input {
  border-color: var(--error_color);
}

.form-control small {
  color: var(--error_color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error  small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: var(--btn);
  border: 2px solid var(--btn);
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.form button:hover {
  border-color: #0d0d0d;
}